@charset "utf-8";
@font-face{font-family:'bgr';src:url('../fonts/bgr.eot');src:url('../fonts/bgr.eot') format('embedded-opentype'),url('../fonts/bgr.ttf') format('truetype'),url('../fonts/bgr.woff') format('woff'),url('../fonts/bgr.svg') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"],[class*=" icon-"]{font-family:'bgr' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-time:before{content:"\f051";}
.icon-bag:before{content:"\f052";}
.icon-2star:before{content:"\f053";}
.icon-3stat:before{content:"\f054";}
.icon-djs:before{content:"\f337";}


body{max-width: 640px; margin: 0 auto;}
.mui-slider{margin-bottom: 1.5em;}
.mui-plus header.mui-bar{
	display: none;
}
.mui-plus .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}

.hexagon {
    width: 38px;
    height: 18.475px;
    background: #ff6600;
    position: relative;
}

.hexagon:before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 12px solid #ff6600;
}

.hexagon:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 12px solid #ff6600;
}
.hexagon i{display: block; width: 38px; height: 38px; color: #fff; font-size: 24px; position: absolute;top: -5px;}
.xx{margin: 1em 0 0 1em;}
.xx div{width:42px;float: left; font-size: 12px; text-align: center; color: #FF6600; margin-right: 1em;;}
.xx div span{color: #999;}
