.mui-plus header.mui-bar{
	display: none;
}
.mui-plus .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}

.hexagon {
    width: 32px;
    height: 18.475px;
    background: #ff6600;
    position: relative;
}

.hexagon:before {
    content: "";
    position: absolute;
    top: -9.238px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 9.238px solid #ff6600;
}

.hexagon:after {
    content: "";
    position: absolute;
    bottom: -9.238px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 9.238px solid #ff6600;
}

.xx{margin: 1em 0 0 1em;}
.xx div{float: left; margin-right: 1em; font-size: 12px; text-align: center; color: #FF6600;}
.xx div span{color: #999;}
