@charset "utf-8";
@font-face{font-family:'bgr';src:url('../fonts/bgr.eot');src:url('../fonts/bgr.eot') format('embedded-opentype'),url('../fonts/bgr.ttf') format('truetype'),url('../fonts/bgr.woff') format('woff'),url('../fonts/bgr.svg') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"],[class*=" icon-"]{font-family:'bgr' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-time:before{content:"\f051";}
.icon-bag:before{content:"\f052";}
.icon-2star:before{content:"\f053";}
.icon-3star:before{content:"\f054";}
.icon-djs:before{content:"\f337";} 
.icon-tra:before{content:"\f1e3";} 
.icon-book:before{content:"\f055";} 
.icon-edit:before{content:"\f056";} 
.icon-draw:before{content:"\f1a4";} 
.icon-map:before{content:"\f057";} 

body{max-width: 640px; margin: 0 auto;}
.mui-slider{margin-bottom: 1.5em;}
.mui-plus header.mui-bar{
	display: none;
}
.mui-plus .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}

.hexagon {
    width: 32px;
    height: 18.475px;
    background: #ff6600;
    position: relative;
    margin: 0 auto 10px;
}

.hexagon:before {
    content: "";
    position: absolute;
    top: -9.238px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 9.238px solid #ff6600;
}

.hexagon:after {
    content: "";
    position: absolute;
    bottom: -9.238px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 9.238px solid #ff6600;
}
.hexagon i{display: block; width: 32px; height: 32px; color: #fff; font-size: 22px; position: absolute;top: -3px;}
.xx{margin: 1em 5px;}
.xx div{width:14.24%;float: left; font-size: 12px; text-align: center; color: #FF6600; }
.xx div span{color: #999;}
.m_index_ul{list-style: none;padding: 10px; overflow:hidden;display: inherit;padding-bottom: 0;}
.m_index_ul li{font-size: 12px;line-height: 20px;position: relative;width: 100%;display: inline-block;}
.m_index_ul li:before{width: 100%;height: 1px;border-top: 1px solid #d7d7d7;position: absolute;left: 0;top: 10px;content: "";display: block;z-index: 1;}
.m_index_ul i{width: 25px;line-height:26px;position: relative;float:left;background: #efeff4;color:#929292;font-size: 18px;vertical-align: middle;padding-right: 10px; z-index: 2;}
.m_index_ul p{background: #efeff4;color:#333;z-index: 2;line-height:25px;padding-right: 10px;position: relative;margin:0;display: list-item;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.mui-content-padded button{width:100%;height: 36px; background: #FF6600; border-radius: 10em; padding: 0;}
.mui-content-padded button.index_btn1{width: 48%; float: left;}
.mui-content-padded button.index_btn2{width: 48%; float: right;}
